language: generic
dist: bionic

before_install:
  - sudo apt-get update
  - sudo apt install --yes python
  - sudo apt install --yes python3.6
  - sudo apt install --yes python3.8
  - sudo apt install python-pip

install:
  - pip install tox

script:
  - tox
